<div class="d-flex vh-100">
  <app-sidebar-pt class="sidebar"></app-sidebar-pt>

  <div class="content-wrapper flex-grow-1 p-4">
    <div class="background-overlay justify-content-end">
      <!-- Card Messaggio di Benvenuto -->
      <div class="cardCustom">
        <div class="imge">
          <p class="UserName">Bnevenuto, {{ personalTrainer?.username }}</p>
        </div>
      </div>

      <!-- Descrizione Motivazionale -->
      <div class="description mb-4">
        <p>
          Sei pronto a portare i tuoi clienti al livello successivo?<br /><br />
          Qui puoi creare esercizi su misura, assegnare programmi personalizzati
          e trovare nuovi clienti motivati. Non aspettare! Costruisci il
          percorso perfetto per ogni atleta e diventa il punto di riferimento
          per il loro successo.
        </p>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
