@use "mixins" as mix;
@use "variables" as vars;

/* Profilo */
.profile-container {
  flex-grow: 1;
  padding: 40px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  @include mix.surface-card(
    40px,
    vars.$border-radius-md,
    vars.$color-surface,
    vars.$shadow-xl
  );
  @include mix.fade-in(0.6s);
}

/* Titolo */
.profile-title {
  font-size: 1.4rem;
  color: vars.$text-dark;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Info Profilo */
.profile-info {
  background: vars.$color-surface;
  padding: 15px;

  border-radius: 8px;
  color: vars.$text-dark;
  text-align: left;
}

.profile-info p {
  font-size: 16px;
  margin: 8px 0;
}

/* Pulsanti Salva e Annulla */
.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
