/* Contenitore principale */
.bg-page {
  background-color: #131313;
  display: flex;
}

/* Profilo */
.profile-container {
  flex-grow: 1;
  padding: 40px;
  max-width: 600px;
  margin: auto;
  background: linear-gradient(135deg, #1b191a 15%, #9f3815 100%);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(159, 56, 21, 0.7);
  text-align: center;
}

/* Titolo */
.profile-title {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

/* Info Profilo */
.profile-info {
  background: #1b191a;
  padding: 15px;
  border-radius: 8px;
  color: white;
  text-align: left;
}

.profile-info p {
  font-size: 16px;
  margin: 8px 0;
}

/* Pulsanti Salva e Annulla */
.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
