@use "mixins" as mix;
@use "variables" as vars;

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  @include mix.flex-center();
  z-index: 1000;
}

/* Modale */
.custom-modal {
  @include mix.surface-card(20px);
  width: 350px;
  @include mix.fade-in(0.3s);
}

/* Header */
.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.btn-close-modal {
  background: none;
  border: none;
  color: vars.$text-dark;
  font-size: 20px;
  cursor: pointer;
  transition: vars.$transition-base;
}

.btn-close-modal:hover {
  color: vars.$color-error;
}

.custom-modal-body {
  margin: 15px 0;
  font-size: 1rem;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
