.sidebar {
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 1rem;
  background: rgb(25, 24, 23);
  background: linear-gradient(
    180deg,
    rgba(25, 24, 23, 1) 13%,
    rgba(33, 30, 30, 1) 34%,
    rgba(194, 68, 23, 0.9612219887955182) 75%,
    rgba(170, 65, 28, 0.9612219887955182) 92%
  );
}

.sidebar .nav-link {
  color: white;
  font-size: 1rem;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
