<nav class="sidebar">
  <div class="position-sticky">
    <ul class="nav flex-column text-white">
      <li class="nav-item">
        <a class="nav-link" routerLink="/HomePt" routerLinkActive="active">
          <i class="bi bi-house-door"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clienti" routerLinkActive="active">
          <i class="bi bi-people"></i> Clienti
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/programmi" routerLinkActive="active">
          <i class="bi bi-calendar"></i> Programmi
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/esercizi" routerLinkActive="active">
          <i class="bi bi-list-check"></i> Esercizi
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/impostazioni"
          routerLinkActive="active"
        >
          <i class="bi bi-gear"></i> Impostazioni
        </a>
      </li>
    </ul>
  </div>
</nav>
