@use "mixins" as mix;
@use "variables" as vars;

.sidebar {
  width: 250px;
  min-height: 100vh;
  @include mix.gradient-background();
  color: vars.$text-dark;
}

.sidebar .nav-link {
  color: vars.$text-dark;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: vars.$color-accent;
  border-radius: vars.$border-radius-sm;
}

.navbar .nav-link {
  color: vars.$text-dark;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  background-color: vars.$color-accent;
  border-radius: vars.$border-radius-sm;
}

.nav-backgound {
  @include mix.gradient-background();
}

.button-menu {
  border: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: vars.$text-dark;
}
