.sidebar {
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 1rem;
  background: rgb(25, 24, 23);
  background: linear-gradient(
    180deg,
    rgba(25, 24, 23, 1) 13%,
    rgba(31, 28, 28, 1) 26%,
    rgba(31, 28, 28, 1) 28%,
    rgba(32, 29, 29, 1) 30%,
    rgba(32, 29, 29, 1) 32%,
    rgba(32, 29, 29, 1) 35%,
    rgba(33, 30, 30, 1) 36%,
    rgba(33, 30, 30, 1) 39%,
    rgba(41, 32, 30, 1) 41%,
    rgba(46, 33, 30, 1) 43%,
    rgba(50, 34, 30, 1) 45%,
    rgba(58, 36, 30, 1) 47%,
    rgba(194, 68, 23, 0.9612219887955182) 75%,
    rgba(170, 65, 28, 0.9612219887955182) 92%
  );
}

.sidebar .nav-link {
  color: white;
  font-size: 1rem;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #bd3e14d0;
  border-radius: 5px;
}

.logo-container {
  mix-blend-mode: multiply;
}
