.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffc278 5%, #9f3815 100%);
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.login-box {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  background: linear-gradient(135deg, #ffc278 5%, #9f3815 100%);
  box-shadow: 0 0 15px rgba(159, 56, 21, 0.7);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.login-subtitle {
  color: #9f3815;
  font-size: 16px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  color: #fff;
  font-weight: bold;
}

/* Errori */
.invalid-feedback {
  color: #ff4b4b;
  font-size: 14px;
  margin-top: 5px;
}

.error-message {
  color: #ff4b4b;
  margin-top: 10px;
  font-weight: bold;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background: #9f3815;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-login:hover {
  background: #28a745;
  box-shadow: 0 0 10px rgba(#28a745, 0.8);
}

.btn-login:disabled {
  background: #444;
  cursor: not-allowed;
}

/* Stile per il link di registrazione */
.register-link {
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
}

.register-link a {
  color: #9f3815;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.register-link a:hover {
  color: #ff4b4b;
  text-decoration: underline;
}
