/* Contenitore principale */
.login-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #ffc278 5%, #9f3815 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

/* Card unificata per login e descrizione */
.login-card {
  background: #f0ebe4;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 16px rgba(17, 17, 26, 0.08);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  max-height: 500px;
  animation: fadeInUp 1s ease-in-out;
}

/* Header della card: logo, titolo e descrizione */
.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.logo-img {
  max-width: 100px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.login-title {
  color: black;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.highlight {
  color: #c87340;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-weight: bold;
  color: black;
  display: block;
  margin-bottom: 5px;
}

.invalid-feedback {
  color: #ff4b4b;
  font-size: 14px;
  margin-top: 5px;
}

.error-message {
  color: #ff4b4b;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Pulsante di login */
.btn-login {
  width: 100%;
  padding: 12px;
  background: #ffc278;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background: #ffcc8d;
  box-shadow: 0 0 10px rgba(255, 204, 141, 0.8);
}

.btn-login:disabled {
  background: #c87340;
  cursor: not-allowed;
}

/* Link di registrazione */
.register-link {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.register-link a {
  color: #c87340;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-link a:hover {
  color: #ff4b4b;
}

.hero-img1 {
  width: 400px;
  animation: fadeIn 1.5s ease-in-out;
}

/* Hero Image */
.hero-img2 {
  max-width: 422px;
  animation: fadeIn 1.5s ease-in-out;
}

/* ANIMAZIONI */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .hero-img2 {
    display: none;
  }
}

@media (max-width: 991px) {
  .hero-img1 {
    width: 350px;
  }
}

@media (max-width: 576px) {
  .hero-img1 {
    width: 250px;
    margin-bottom: 30px;
  }

  .login-title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .login-subtitle {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
