@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Colori principali
$custom-colors: (
  "orange": #9f3815,
  "dark-bg": #000,
  "bg-page": #222,
  "text-color": #fff,
  "error-color": #ff4b4b,
  "success-color": #28a745,
  "warning-color": #f4a700,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
@import "bootstrap/scss/bootstrap";

//classe Form
.global-form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  background: #222;
  color: #fff;
  outline: none;
}

.global-form-control::placeholder {
  color: rgba(#fff, 0.55);
}

.global-form-control:focus {
  border-color: #9f3815;
  box-shadow: 0 0 10px $box-shadow;
}

//bottone remove
.btn-remove {
  padding: 10px;
  background: #9f3815;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-remove:hover {
  background: #ff4b4b;
  box-shadow: 0 0 10px rgba(#ff4b4b, 0.8);
}

//bottone verde
.btn-add {
  padding: 10px;
  background: #9f3815;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  background: #28a745;
  box-shadow: 0 0 10px rgba(#28a745, 0.8);
}

/* Card */
.cardCustom {
  width: 230px;
  height: 100px;
  background: linear-gradient(135deg, #1b191a 30%, #9f3815 100%);
  box-shadow: 0 0 15px rgba(159, 56, 21, 0.7);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  cursor: default;
}
.cardCustom:hover {
  transform: scale(1.05);
}

/* Sfondo del modale */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modale */
.custom-modal {
  background: #222;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 15px rgba(159, 56, 21, 0.7);
  animation: fadeIn 0.3s ease-in-out;
}

/* Header */
.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-close-modal {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-close-modal:hover {
  color: #ff4b4b;
}

.custom-modal-body {
  margin: 15px 0;
  font-size: 1rem;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
