@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Colori principali
$custom-colors: (
  "orange": #ffc278,
  "bg-page": #f0ebe4,
  "botton-color": #c87340,
  "error-color": #ff4b4b,
  "success-color": #28a745,
  "warning-color": #f4a700,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
@import "bootstrap/scss/bootstrap";

//classe Form
.global-form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  background: white;
  box-shadow: 0px 0px 20px 8px rgba(17, 17, 26, 0.08);
  color: black;
  outline: none;
}

.global-form-control::placeholder {
  color: rgba(black, 0.55);
}

.global-form-control:focus {
  border-color: #ffc278;
}

//bottone remove
.btn-remove {
  padding: 10px;
  background: #c87340;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-remove:hover {
  background: #ffcc8d;
  box-shadow: 0 0 10px rgba(#ffcc8d, 0.8);
}

//bottone verde
.btn-add {
  padding: 10px;
  background: #c87340;
  color: white;
  font-weight: bold;

  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  background: #ffcc8d;
  box-shadow: 0 0 10px rgba(#ffcc8d, 0.8);
}

/* Card */
.cardCustom {
  max-width: 450px;
  color: black;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
