@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Colori principali
$custom-colors: (
  "orange": #ffc278,
  "bg-page": #f0ebe4,
  "botton-color": #c87340,
  "error-color": #ff4b4b,
  "success-color": #28a745,
  "warning-color": #f4a700,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
@import "bootstrap/scss/bootstrap";

//classe Form
.global-form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  background: white;
  box-shadow: 0px 0px 20px 8px rgba(17, 17, 26, 0.08);
  color: black;
  outline: none;
}

.global-form-control::placeholder {
  color: rgba(black, 0.55);
}

.global-form-control:focus {
  border-color: #ffc278;
}

//bottone remove
.btn-remove {
  padding: 10px;
  background: #c87340;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-remove:hover {
  background: #ffcc8d;
  box-shadow: 0 0 10px rgba(#ffcc8d, 0.8);
}

//bottone verde
.btn-add {
  padding: 10px;
  background: #c87340;
  color: white;
  font-weight: bold;

  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  background: #ffcc8d;
  box-shadow: 0 0 10px rgba(#ffcc8d, 0.8);
}

/* Card */
.cardCustom {
  width: auto;
  height: auto;
  padding: 10px;
  color: black;
  background: white;
  box-shadow: 0px 0px 20px 8px rgba(17, 17, 26, 0.08);
  border-radius: 10px;
}

/* Sfondo del modale */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modale */
.custom-modal {
  background: white;
  box-shadow: 0px 0px 20px 8px rgba(17, 17, 26, 0.08);
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 350px;

  animation: fadeIn 0.3s ease-in-out;
}

/* Header */
.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.btn-close-modal {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-close-modal:hover {
  color: #ff4b4b;
}

.custom-modal-body {
  margin: 15px 0;
  font-size: 1rem;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
