.dashboard-container {
  padding: 20px;
}
.description {
  font-size: 1.3rem;
  font-weight: 400;
}

/* Nome Utente */
.UserName {
  font-size: 2.5rem;
}

.dashboard-card {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px 8px rgba(17, 17, 26, 0.08);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.dashboard-card a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.dashboard-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 16px rgba(17, 17, 26, 0.08);
}

.animated-card {
  animation: fadeInUp 1s ease-in-out;
}

/* Animazione fadeIn */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-dashboard {
  max-width: 350px;
  filter: drop-shadow(2px 5px 5px #000000a6);
  animation: fadeIn 0.6s ease-in-out;
}

.cardCustomDescription {
  width: 100%;
  color: black;
  animation: fadeIn 0.6s ease-in-out;
}

/* Responsive */
@media (max-width: 991px) {
  .hero-dashboard {
    display: none;
  }

  .description {
    margin-top: 10px;
  }
}
