<div class="dashboard-container">
  <div class="row align-items-center justify-content-center p-4">
    <div class="col-12 col-lg-6 d-flex flex-column">
      <div class="cardCustom mb-3 mx-auto">
        <p class="UserName m-0">Benvenuto {{ cliente?.username }}</p>
      </div>
      <div class="mx-auto">
        <img
          class="hero-dashboard my-4"
          src="img/img14.png"
          alt="Dashboard Hero"
        />
      </div>
    </div>

    <div class="col-12 col-lg-6 text-start">
      <div class="description">
        <p>
          Preparati a raggiungere i tuoi obiettivi fitness!<br /><br />
          Qui puoi consultare i tuoi allenamenti personalizzati, aggiornare i
          tuoi progressi e monitorare i miglioramenti nel tempo.<br />
          <strong>PowerGym</strong> è il tuo alleato per un percorso efficace e
          motivante. <br />
          Segui il tuo piano e supera i tuoi limiti!
        </p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4 p-4 gap-3">
    <div class="col-12 col-md-4">
      <div class="dashboard-card text-center animated-card">
        <div class="card-body">
          <a class="card-title" routerLink="/HomeClienti/allenamenti"
            >Visualizza i Tuoi Allenamenti</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="dashboard-card text-center animated-card">
        <div class="card-body">
          <a class="card-title" routerLink="/HomeClienti/"
            >Visualizza i tuoi Progressi</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
