<div class="dashboard-container">
  <!-- Header della dashboard -->
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-12">
      <div class="flex-grow-1 d-flex flex-column">
        <div class="d-flex flex-column align-items-lg-end gap-5 p-4">
          <div
            class="col-12 col-lg-6 d-flex justify-content-lg-end justify-content-center"
          >
            <div class="cardCustom">
              <p class="UserName m-0">Benvenuto {{ cliente?.username }}</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-flex align-self-lg-start">
            <div class="description text-start cardCustom h-auto">
              <p class="w-100">
                Preparati a raggiungere i tuoi obiettivi fitness!<br /><br />
                Qui puoi consultare i tuoi allenamenti personalizzati,
                aggiornare i tuoi progressi e monitorare i miglioramenti nel
                tempo.<br />
                <strong>PT-Nexus</strong> è il tuo alleato per un percorso
                efficace e motivante. Segui il tuo piano e supera i tuoi limiti!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card della dashboard: utilizza una riga per le colonne -->
  <div class="row justify-content-center mt-4 p-4">
    <div class="col-12 col-md-4 mb-3">
      <div class="card dashboard-card text-center animated-card">
        <div class="card-body">
          <h5 class="card-title">Visualizza i Tuoi Allenamenti</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card dashboard-card text-center animated-card">
        <div class="card-body">
          <h5 class="card-title">Aggiorna i tuoi Progressi</h5>
        </div>
      </div>
    </div>
  </div>
</div>
