<div class="register-container">
  <div class="register-box">
    <h2 class="register-title">Crea il tuo Account</h2>
    <p class="register-subtitle">Inizia il tuo percorso fitness oggi stesso!</p>

    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="register-form"
    >
      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          class="global-form-control"
          [ngClass]="{
            'is-invalid':
              registerForm.get('username')?.invalid &&
              registerForm.get('username')?.touched
          }"
        />
        <div
          *ngIf="
            registerForm.get('username')?.invalid &&
            registerForm.get('username')?.touched
          "
          class="invalid-feedback"
        >
          L'username è obbligatorio (min. 3 caratteri).
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="global-form-control"
          [ngClass]="{
            'is-invalid':
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
          }"
        />
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="invalid-feedback"
        >
          La password è obbligatoria (min. 6 caratteri).
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="global-form-control"
          [ngClass]="{
            'is-invalid':
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
          }"
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="invalid-feedback"
        >
          Email non valida.
        </div>
      </div>

      <!-- Nome -->
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          id="nome"
          type="text"
          formControlName="nome"
          class="global-form-control"
          [ngClass]="{
            'is-invalid':
              registerForm.get('nome')?.invalid &&
              registerForm.get('nome')?.touched
          }"
        />
        <div
          *ngIf="
            registerForm.get('nome')?.invalid &&
            registerForm.get('nome')?.touched
          "
          class="invalid-feedback"
        >
          Il nome è obbligatorio.
        </div>
      </div>

      <!-- Cognome -->
      <div class="form-group">
        <label for="cognome">Cognome</label>
        <input
          id="cognome"
          type="text"
          formControlName="cognome"
          class="global-form-control"
          [ngClass]="{
            'is-invalid':
              registerForm.get('cognome')?.invalid &&
              registerForm.get('cognome')?.touched
          }"
        />
        <div
          *ngIf="
            registerForm.get('cognome')?.invalid &&
            registerForm.get('cognome')?.touched
          "
          class="invalid-feedback"
        >
          Il cognome è obbligatorio.
        </div>
      </div>

      <!-- Data di nascita -->
      <div class="form-group">
        <label for="dataDiNascita">Data di Nascita</label>
        <input
          id="dataDiNascita"
          type="date"
          formControlName="dataDiNascita"
          class="global-form-control"
          [ngClass]="{
            'is-invalid':
              registerForm.get('dataDiNascita')?.invalid &&
              registerForm.get('dataDiNascita')?.touched
          }"
        />
        <div
          *ngIf="
            registerForm.get('dataDiNascita')?.invalid &&
            registerForm.get('dataDiNascita')?.touched
          "
          class="invalid-feedback"
        >
          La data di nascita è obbligatoria.
        </div>
      </div>

      <!-- Toggle switch per Personal Trainer -->
      <div class="form-group toggle-container my-2">
        <span>Registrati come Personal Trainer</span>
        <label class="switch">
          <input type="checkbox" formControlName="isPersonalTrainer" />
          <span class="slider"></span>
        </label>
      </div>

      <!-- Pulsante di registrazione -->
      <button
        class="btn-register"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Registrati
      </button>

      <!-- Messaggi di errore/successo -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
    </form>

    <!-- Link per il login -->
    <div class="login-link">
      <p>
        Hai già un account? <a routerLink="/authentication/login">Accedi qui</a>
      </p>
    </div>
  </div>
</div>
