@use "mixins" as mix;
@use "variables" as vars;

/* Sfondo dinamico */
.register-container {
  height: 100vh;
  @include mix.flex-center(column);
  @include mix.gradient-background();
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Box di registrazione */
.register-box {
  @include mix.surface-card(30px);
  width: 550px;
  text-align: center;
  @include mix.fade-in(1s);
}

/* Titolo */
.register-title {
  color: vars.$text-dark;
  font-size: 24px;
  font-weight: bold;
}

/* Sottotitolo */
.register-subtitle {
  color: vars.$color-primary;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  color: vars.$text-dark;
  font-weight: bold;
}

/* Errori */
.invalid-feedback {
  color: vars.$color-error;
  font-size: 14px;
  margin-top: 5px;
}

.error-message {
  color: vars.$color-error;
  margin-top: 10px;
  font-weight: bold;
}

/* Pulsante di registrazione */
.btn-register {
  width: 100%;
  font-size: 18px;
  @include mix.button-filled(vars.$color-accent, vars.$text-dark);
}

.btn-register:hover {
  box-shadow: 0 0 10px rgba(vars.$color-accent-light, 0.8);
}

.btn-register:disabled {
  background: vars.$color-primary;
}

/* Link per il login */
.login-link {
  margin-top: 15px;
  color: vars.$text-dark;
  font-size: 14px;
  font-weight: 500;
}

.login-link a {
  color: vars.$color-primary;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.login-link a:hover {
  color: vars.$color-accent;
}

/* Stile per il toggle switch */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: vars.$text-dark;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}

/* Container switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Nasconde il checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider animato */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: vars.$color-grey;
  transition: 0.4s;
  border-radius: 34px;
}

/* Piccolo cerchio interno */
.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Quando attivo cambia colore */
.switch input:checked + .slider {
  background-color: vars.$color-primary;
}

/* Sposta il cerchio */
.switch input:checked + .slider::before {
  transform: translateX(26px);
}
