@use "variables" as vars;

/* Messaggio di errore */
.notification-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  animation: fadeInOut 4s ease-in-out;
}

.success {
  background-color: vars.$color-success;
}

.error {
  background-color: vars.$color-error;
}

.warning {
  background-color: vars.$color-warning;
}
