<div class="">
  <div class="flex-grow-1 d-flex flex-column p-3">
    <div class="row g-3">
      <!-- Card Totale Clienti -->
      <div
        class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start h-25"
      >
        <div class="cardCustom">
          <div class="imge">
            <p class="UserName m-0">Totale Clienti: {{ totalClienti }}</p>
          </div>
        </div>
      </div>

      <!-- Card per Ricerca  Cliente -->
      <div class="col-12 col-md-6 d-flex flex-column">
        <div class="search-client-box">
          <h3 class="search-title">Cerca un Cliente</h3>
          <div class="row align-items-center g-2">
            <div class="col-12 col-lg-4">
              <input
                type="text"
                class="global-form-control"
                placeholder="Username"
                [(ngModel)]="searchUsername"
              />
            </div>
            <div class="col-12 col-lg-4">
              <input
                type="email"
                class="global-form-control"
                placeholder="Email"
                [(ngModel)]="searchEmail"
              />
            </div>
            <div class="col-12 col-lg-4">
              <button class="btn-add w-75" (click)="searchClient()">
                Cerca <i class="fas fa-search ms-1"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Card che appare se il cliente è stato trovato -->
        <div *ngIf="searchedClient" class="found-client-card mt-3">
          <div class="d-flex justify-content-end align-items-center">
            <button class="btn-close-card" (click)="closeSearchedClient()">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <p><strong>Nome:</strong> {{ searchedClient.nome }}</p>
          <p><strong>Cognome:</strong> {{ searchedClient.cognome }}</p>
          <p><strong>Username:</strong> {{ searchedClient.username }}</p>
          <p><strong>Email:</strong> {{ searchedClient.email }}</p>
          <button class="btn-add" (click)="addClient(searchedClient.id)">
            <i class="fas fa-user-plus me-1"></i> Aggiungi ai clienti
          </button>
        </div>
      </div>

      <div class="container container-table">
        <h4 class="search-title text-center">I Tuoi Clienti</h4>
        <input
          type="text"
          class="global-form-control search-input mb-3"
          placeholder="Cerca per nome o cognome"
          [(ngModel)]="searchTerm"
        />

        <!-- Nessun Cliente Trovato -->
        <div *ngIf="filteredClienti.length === 0" class="no-client-message">
          Nessun cliente trovato.
        </div>

        <!-- Tabella Clienti -->
        <table *ngIf="filteredClienti.length > 0" class="custom-table">
          <thead class="">
            <tr>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of filteredClienti || []">
              <td>{{ cliente.nome }}</td>
              <td>{{ cliente.cognome }}</td>
              <td>
                <button class="btn-remove" (click)="removeClient(cliente.id)">
                  <i class="fas fa-trash-alt me-1"></i> Elimina
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
