@use "mixins" as mix;
@use "variables" as vars;

/* Parte superiore con il testo */

/* Nome Utente */
.UserName {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

/* Box di ricerca cliente */
.search-client-box {
  text-align: center;
  @include mix.fade-in(0.6s);
}

.search-title {
  color: vars.$text-dark;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Card Cliente Trovato */
.found-client-card {
  margin-top: 20px;
  color: vars.$text-dark;
  @include mix.surface-card(
    15px,
    vars.$border-radius-md,
    vars.$color-surface,
    vars.$shadow-xl
  );
  text-align: start;
  @include mix.fade-in(0.6s);
}

.found-client-card p {
  margin: 5px 0;
}

.btn-close-card {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: vars.$text-dark;
  transition: vars.$transition-base;

  &:hover {
    color: vars.$color-error;
    transform: scale(1.2);
  }
}

.container-table {
  margin-top: 6rem;
  @include mix.fade-in(1s);
}

/* Tabella */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  color: vars.$text-dark;
  box-shadow: vars.$shadow-xl;
  border-radius: vars.$border-radius-sm;
  overflow: hidden;
}

/* Intestazione tabella */
.custom-table thead {
  background: vars.$color-surface;
  color: vars.$text-dark;
  text-align: left;
}

.custom-table th {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.custom-table tbody tr {
  background: vars.$color-surface;
}

.custom-table td {
  padding: 10px;
  border-top: solid 1px rgba(vars.$color-grey, 0.32);
}
