/* Parte superiore con il testo */

/* Nome Utente */
.UserName {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

/* Box di ricerca cliente */
.search-client-box {
  text-align: center;
}

.search-title {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Card Cliente Trovato */
.found-client-card {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 20px 16px rgba(17, 17, 26, 0.08);
  color: black;
  text-align: start;
  animation: fadeIn 0.6s ease-in-out;
}

.found-client-card p {
  margin: 5px 0;
}

.btn-close-card {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #ff4b4b;
    transform: scale(1.2);
  }
}

.container-table {
  margin-top: 6rem;
}

/* Tabella */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  box-shadow: 0px 0px 20px 16px rgba(17, 17, 26, 0.08);
}

/* Intestazione tabella */
.custom-table thead {
  background: linear-gradient(135deg, #ffc278 10%, #9f3815 100%);
  color: black;
  text-align: left;
}

.custom-table th {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
}

.custom-table tbody tr {
  background: linear-gradient(135deg, #ffc278 10%, #9f3815 100%);
  transition: background-color 0.3s ease-in-out;
}

.custom-table td {
  padding: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
