<div class="d-flex vh-100 bg-black">
  <app-sidebar-pt class="sidebar"></app-sidebar-pt>
  <div class="content-wrapper flex-grow-1 d-flex flex-column p-4">
    <div
      class="col-12 col-lg-6 d-flex justify-content-lg-end justify-content-center"
    >
      <div class="cardCustom">
        <div class="imge">
          <p class="UserName">Totale Clienti: {{ totalClienti }}</p>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Cerca per nome o cognome"
        [(ngModel)]="searchTerm"
      />
      <div
        *ngIf="filteredClienti && filteredClienti.length === 0"
        class="text-white text-center"
      >
        Nessun cliente trovato.
      </div>
      <table
        *ngIf="filteredClienti && filteredClienti.length > 0"
        class="table table-dark table-striped"
      >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of filteredClienti || []">
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cognome }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeClient(cliente.id)">
                Rimuovi
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
